h1
{
    width: 100%;
    height: 45px;
    background-color: crimson;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 15px;
}